<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>raptor-saddle-strap-back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{108,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,148}}</string>
                <key>sourceSize</key>
                <string>{108,148}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>saddle-strap-back.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dddb37e2f37a946eea0876535088a8e5$</string>
            <key>textureFileName</key>
            <string>saddle-strap-back.png</string>
        </dict>
    </dict>
</plist>
